@media screen and (max-width: 768px) {

    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 1000;
    }

    .container {
        margin: 0 auto;
        max-width: 768px;
        width: 90%;
    }

    .page-header {
       width: 95%;
       display: flex;
       margin: 0 10px 0 10px;
       justify-content: space-between;
    }

    nav {
        display: none;
    }

    .hamburger {
        background-color: transparent;
    }

    .hamburger-menu {
                display: flex;
    }

    .hamburger-list {
        padding: 8px 6px;
        width: 360px;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        display: none;
    }

    .hamburger-list a {
        text-decoration: none;
        color: var(--black-text-color);
        padding-bottom: 32px;
    }

    .hamburger-list a:hover {
        color: var(--primary-color);
        border-bottom: 4px solid var(--primary-color);
    }

    .page-logo {
        font-weight: 800;
        padding: 22px 0;
    }

    .btn-header {
        background: var(--primary-color) 0 0 no-repeat padding-box;
        box-shadow: 5px 10px 14px var(--form-button-color);
        border-radius: 40px;
        padding: 30px 120px;
    }

    .achiev-content {
        flex-direction: column;
        align-items: center;
    }

    .achiev-content__theme {
        padding: 20px 0;
    }

    .reason-content {
        align-items: center;
        padding-bottom: 60px;
    }

    .reason-content__box {
        height: 420px;
        width: 300px;
        flex-direction: column;
    }

    .reason-content__box:nth-child(1) {
        flex-direction: column-reverse;
    }

    .horizontal-line {
        display: none;
    }

    .line-style1 {
        border: unset;
    }

    .line-style2 {
        border: unset;
    }

    .line-style3 {
        border: unset;
    }

    .reason-article h2 {
        width: 100%;
    }

    .reason-diamond {
        width: 54%;
        height: 30%;
        top: 50px;
        align-items: unset;
        left: 10%;
    }

    .reason-diamond::after {
        background-size: 200px;
        right: unset;
        bottom: unset;
        top: 10%;
        left: -40%;
        width: 200px;
    }

    .reason-wheel {
        padding: 15px;
        width: 50%;
        height: 36%;
    }

    .reason-wheel::after {
        background-size: 170px;
        top: 17px;
        left: 13px;
        width: 150px;
    }

    .reason-content__box-specific {
        flex-direction: column;
        height: 47rem;
        width: 300px;
    }

    .specific-column {
        width: 100%;
        height: 27rem;
    }

    .reason-article2 {
        max-width: 340px;
        text-align: center;
    }

    .reason-article2 h2 {
        width: 100%;
        text-align: left;
    }

    .reason-article2 p {
        text-align: left;
    }

    .reason-background {
        width: 100%;
        height: 24rem;
    }

    .reason-background::after {
        width: 100%;
        left: -5%;
        height: 70%;
    }

    .horizontal-line {
        display: block;
        width: 100%;
    }

    .pricing-box {
        padding-bottom: 0;
    }

    .pricing-content {
        flex-direction: column;
        margin-bottom: 200px;
    }

    .pricing-article {
        padding-top: 22px;
    }

    .pricing-style {
        max-width: 320px;
        height: 264px;
    }

    .package-type__content {
        display: flex;
        justify-content: space-between;
        width: 75%;
    }

    .package-type__offer {
        align-self: center;
    }

    .pricing-list {
        text-align: left;
    }

    .pricing-special {
        margin: 50px 0;
        max-width: 370px;
        height: 265px;
    }

    .page-form {
        margin-bottom: 100px;
    }

    .help-zone {
        flex-direction: column;
        align-items: center;
    }

    .zone__contact {
        margin-top: 20px;
    }

    .zone__contact h2 {
        font: bold 40px Raleway;
    }

    .zone__contact p {
        font: normal 15px/22px Open Sans;
        padding-top: 5px;
        padding-bottom: 25px;
    }

    .info-icons {
        flex-direction: column;
    }

    .icons {
        padding-top: 10px;
    }

    .zone__register {
        margin-top: 50px;
        width: 70%;
    }

    .form-buttons {
        margin-bottom: 20px;
    }

    [type="checkbox"] + label {
        font: normal 10px/17px Open Sans;
    }

    .calculator-tittle {
        padding: 30px 0 40px 0;
    }

    .calculator h2 {
        margin-top: 20px;
    }

    .page-calculator {
        width: 70%;
    }

    .calculator-content {
        flex-direction: column;
        align-items: center;
    }

    .calculator-value {
        width: 100%;
    }

    .calculator-value form {
        align-items: flex-start;
        width: 115%;
        margin-bottom: 30px;
    }

    .form__numbers {
        width: 102%;
    }

    .form__options {
        width: 87%;
    }

    .calculator-results {
        width: 100%;
    }

    .summary_calc {

    }

    .total_line {
        width: 100%;
        padding: 10px 15px;
    }

    .page-footer {
        justify-content: space-around;
        width: 100%;
        height: 80px;
    }
}