* {
    box-sizing: border-box;
}

:root {
    --primary-color: #08A6E4;
    --secondary-color: #FB3B64;
    --auxiliary-color: #55DFB4;
    --black-text-color: #000000;
    --gray-details-color: #A5A5A5;
    --white-color: #ffffff;
    --form-text-color: #707070;
}

header {
    box-shadow: 0 3px 6px #00000029;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.page-logo {
    color: var(--primary-color);
    text-decoration: none;
    font: normal normal 300 32px/37px 'Raleway';
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list__item a {
    margin-left: 95px;
    text-align: center;
    letter-spacing: 3px;
    color: var(--gray-details-color);
    padding-bottom: 30px;
    text-decoration: none;
    font: normal normal bold 11px/15px 'Open Sans';

}

.nav-list__item a:hover {
    border-bottom: 4px solid var(--primary-color);
}

.page-banner {
    position: relative;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
}

.page-banner::before {
    content: "";
    background-image: url('../images/Background.png');
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.page-banner h1 {
    font: normal normal normal 49px/57px 'Raleway';
    color: var(--black-text-color);
}

.page-banner p {
    text-align: center;
    font: normal normal normal 16px/22px 'Open Sans';
    letter-spacing: 0;
    padding-top: 20px;
}

.banner-button {
    padding-top: 40px;
}

.btn {
    border: none;
    cursor: pointer;
    color: var(--white-color);
}

.btn-header {
    background: var(--primary-color) 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    padding: 22px 160px;
}

.page-achiev h2 {
    font: normal 36px/42px Raleway;
    color: var(--black-text-color);
    text-align: center;
}


.achiev-content {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.achiev-content span {
    text-align: center;
    font: normal 800 20px/24px Raleway;
    letter-spacing: 6px;
    color: #000000;
    margin: 14px 0;
}

.achiev-content p {
    text-align: center;
    font: normal 16px/19px Raleway;
    letter-spacing: 0;
    color: #A5A5A5;
}

.achiev-content__theme {
    max-width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.circle {
    width: 65px;
    height: 65px;
}

.circle-type1 {
    background-color: var(--secondary-color);
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.circle-type1::after {
    content: "";
    position: absolute;
    background-image: url("../images/person.png");
    background-repeat: no-repeat;
    height: 52px;
    width: 44px;
    z-index: -1;
    left: 50%;
}

.circle-type2 {
    background-color: var(--primary-color);
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.circle-type2::after {
    content: "";
    position: absolute;
    background-image: url("../images/eye.png");
    background-repeat: no-repeat;
    height: 37px;
    width: 66px;
    z-index: -1;
    left: 25%;
    top: 25%;
}

.circle-type3 {
    background-color: var(--auxiliary-color);
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.circle-type3::after {
    content: "";
    position: absolute;
    background-image: url("../images/catalog.png");
    background-repeat: no-repeat;
    height: 48px;
    width: 52px;
    z-index: -1;
    left: 50%;
    top: 10%;
}

.page-reason {
    background-color: #F7F7F7;
}

.reason-content {
    display: flex;
    flex-direction: column;
    padding-top: 105px;
    padding-bottom: 105px;
}

.reason-container {
    max-width: 1124px;
    margin: 0 auto;
}

.reason-content__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
    width: 100%;
    background-color: var(--white-color);
    height: 370px;
}

.reason-article {
    max-width: 416px;
    max-height: 240px;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 30px;
}

.reason-article h2 {
    font: normal 36px/42px Raleway;
    color: var(--black-text-color);
    word-wrap: break-word;
    width: 60%;
}

.reason-article p {
    font: normal 16px/22px Open Sans;
}

.reason-diamond {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    position: relative;
    z-index: 1;
}

.reason-diamond::after {
    content: "";
    position: absolute;
    background-image: url("../images/macbook2.png");
    background-repeat: no-repeat;
    height: 219px;
    width: 387px;
    z-index: 0;
    right: 10%;
    bottom: -15%;
}

.diamond-img {
    background-color: var(--secondary-color);
    border-radius: 41px;
    width: 75%;
    height: 75%;
    display: block;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
}

.reason-wheel {
    max-width: 320px;
    max-height: 320px;
    width: 100%;
    height: 100%;
    margin-left: 70px;
    position: relative;
}

.reason-wheel::after {
    content: "";
    position: absolute;
    background-image: url("../images/iphone2.png");
    background-repeat: no-repeat;
    height: 328px;
    width: 426px;
    z-index: 0;
    top: 0;
    left: 0;
}
.wheel-img {
    background-color: var(--primary-color);
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
}

.reason-content__box-specific {
    display: flex;
    width: 100%;
    height: 370px;
    justify-content: space-between;

}

.specific-column {
    width: 55%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reason-article2 {
    max-width: 92%;
    max-height: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reason-article2 h2 {
    font: normal 36px/42px Raleway;
    color: var(--black-text-color);
    word-wrap: break-word;
    width: 60%;
}

.reason-article2 p {
    font: normal 16px/22px Open Sans;
    margin-top: auto;
}

.reason-background {
    height: 370px;
    width: 40%;
    background-color: var(--auxiliary-color);
    z-index: 1;
    position: relative;
}

.reason-background::after {
    content: "";
    position: absolute;
    background-image: url("../images/trumpet.png");
    background-repeat: no-repeat;
    z-index: 0;
    width: 296px;
    height: 208px;
    top: 25%;
    left: 20%;
}

.horizontal-line {
    display: block;
    width: 75%;
}

.line-style1 {
    border: 4px solid var(--secondary-color);
}

.line-style2 {
    border: 4px solid var(--primary-color);
}

.line-style3 {
    border: 4px solid var(--auxiliary-color);
    margin-top: auto;
}

.pricing-box {
    text-align: center;
    padding: 100px 0;
}

.pricing-box h2 {
    font: normal 400 36px/42px Raleway;
    margin-bottom: 50px;
}

.pricing-container {
    max-width: 1266px;
    margin: 0 auto;
}

.pricing-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 18px;
    padding-top: 34px;
    width: 100%;
}

.pricing-article li {
    padding-bottom: 20px;
}

.pricing-article h3 {
    font: normal bold 20px Raleway;
}

.pricing-style {
    border-color: var(--secondary-color);
    max-width: 372px;
    height: 80%;
}

.pricing-style span {
    color: var(--secondary-color);
    font: normal 300 46px Open Sans;
    margin-top: 14px;
}

.pricing-style2 {
    border-color: var(--primary-color);
    box-shadow: 5px 10px 27px #07ACE629;
    max-width: 405px;
}

.pricing-style2 p {
    font: normal bold 12px Raleway;
    margin-top: 15px;
}

.pricing-style2 span {
    color: var(--primary-color);
    font: normal 300 46px Open Sans;
    margin-top: 14px;
}

.pricing-style2 li {
    padding-bottom: 25px;
}

.pricing-style3 {
    border-color: var(--auxiliary-color);
    max-width: 372px;
    height: 80%;
}

.pricing-style3 span {
    color: var(--auxiliary-color);
    font: normal 300 46px Open Sans;
    margin-top: 14px;
}
.pricing-style3 p {
    font: normal bold 12px Raleway;
    margin-top: 15px;
}


.pricing-list {
    list-style-type: none;
}

.list-padding1 {
    padding: 50px 0;
}

.list-padding2 {
    padding: 61px 0;
}

.package::before {
    content: url("../images/Ckechmark-1.svg");
    padding-right: 10px;
}

.no-choice::before {
    content: url("../images/Close.svg");
    padding-right: 10px;
}

.btn-pricing {
    background: var(--secondary-color);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 20px;
    padding: 1px;
    width: 40%;
    font: normal bold 13px/41px Open Sans;
    transform: translateY(23px);
}

.btn-pricing2 {
    background: var(--primary-color);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 20px;
    padding: 1px;
    width: 40%;
    font: normal bold 13px/41px Open Sans;
    transform: translateY(23px);
}

.btn-pricing3 {
    background: var(--auxiliary-color);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 20px;
    padding: 1px;
    width: 40%;
    font: normal bold 13px/41px Open Sans;
    transform: translateY(23px);
}

.page-form {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: calc(70vh - 80px);
    max-width: 900px;
}

.help-zone {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.zone__contact {
    display: flex;
    flex-direction: column;
}

.zone__contact h2 {
    font: normal 49px Raleway;
}

.zone__contact p {
    font: normal 16px/22px Open Sans;
    padding-top: 20px;
}

.info-icons {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    padding-top: 40px;
}

.icons__mail {
    background-image: url("../images/mail-icon.png");
    width: 27px;
    height: 27px;
    display: block;
}

.icons__tele {
    background-image: url("../images/phone-icon.png");
    width: 27px;
    height: 27px;
    display: block;
}

.icons span {
    font: normal 16px/22px Open Sans;
    color: var(--gray-details-color);
    padding-left: 10px;
}

.zone__register {
    width: 45%;
}

.form__field {
    padding: 18px 0;
}

.form__field label {
    font: normal bold 11px/15px Open Sans;
    color: var(--primary-color);

}

.form__field input {
    display: block;
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    padding: 12px 0 8px 0;
}

.form__check {
    display: flex;
}

[type="checkbox"] {
    opacity: 1;
}

[type="checkbox"] {
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: var(--form-text-color);
}

[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid var(--gray-details-color);
    border-radius: 4px;
    background: var(--white-color);
    left: 0;
    top: 0;
}

[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background: var(--white-color);
    left: 0;
    top: 0;
}

[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../images/checkmark.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 25%;
    left: 25%;
}

[type="checkbox"] + label {
    padding-left: 30px;
    font: normal 12px/17px Open Sans;
    color: var(--form-text-color);
}
